body {
	font-family: 'montserrat', sans-serif;
	font-size: 1.5vw;
	background: var(--color-background);
	color: var(--color-foreground);
	-webkit-font-smoothing: antialiased;
}

.content {
	display: flex;
	flex-direction: column;
}

section {
	height: 100vh;
	scroll-snap-align: start;
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 1920px) {
	body {
		font-size: 30px;
		max-width: 1920px;
		margin: 0 auto;
	}
}