body {
	font-family: 'montserrat', sans-serif;
	font-size: 1.5vw;
	background: var(--color-background);
	color: var(--color-foreground);
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

.content {
	display: flex;
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 1024px) {
	body {
		font-size: 5vw;
	}
}

@media (min-width: 1920px) {
	body {
		font-size: 30px;
		max-width: 1920px;
		margin: 0 auto;
	}
}