:root {
	--color-background: #E2E2E2;
	--color-foreground: #000000;
	--color-highlight: #FFF500;

	--color-box-background: #FFFFFF;
	--color-box-foreground: var(--color-foreground);
	--color-cart-empty-background: #aaa;

	--gap-column: 1rem;
	--gap-padding: 1rem;
	--gap-row: 1rem;

	--gap-box-padding: 1rem;
	--gap-button-padding: 0.5rem;
}