.hero__background {
	width: 100%;
	height: 100vh;
	background-image: url('/_app/assets/section-image/heroimage.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
 }

.yourbrain {
	position: absolute;
	left: 8vw;
	top: 40vh;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	line-height: 59px;
	font-size: 2.5em;
	color: #ffffff;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.inajar {
	position: absolute;
	top: 70vh;
	left: 69vw;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 2.5em;
	line-height: 59px;
	color: #ffffff;
	animation: fadeIn 5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
 }

@media screen and (max-width: 768px) {
	.yourbrain {
		position: absolute;
		left: 20%;
		top: 20vh;
		font-size: 50px;
	}

	.inajar {
		position: absolute;
		left: 40%;
		top: 80vh;
		font-size: 50px;
	}
}