.testimonials__background {
	width: 100%;
	height: 100vh;
	background-image: url('/_app/assets/section-image/review.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
 }
 
 .testimonials {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-gap: var(--gap-column);
	height: 100vh;
	align-items: center;
 }
 
 .testimonials__container {
	grid-column: 2 / span 10; /* Adjust the grid-column values */
	grid-row: 3 / span 8; /* Adjust the grid-row values */
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 
 .testimonial__box {
	display: none;
	padding: 20px;
	text-align: center;
 }
 
 .testimonial__avatar {
	width: 80px;
	height: 80px;
	object-fit: cover;
	margin-bottom: 10px;
 }
 
 .testimonial__content {
	margin-bottom: 20px;
 }
 
 .testimonial__name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
 }
 
 .testimonial__usertitle {
	font-size: 14px;
	color: #777;
	margin-bottom: 10px;
 }
 
 .testimonial__review {
	font-size: 16px;
	line-height: 1.5;
 }


 /* Testimonial Navigation Buttons */
 
 .testimonial__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	grid-column: 1 / span 12;
	grid-row: 6 / span 1;
 }

 .testimonial__navigation button {
	background-color: transparent;
	border: none;
	color: #000000;
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
	transition: background-color 0.3s ease;
 }
 
 .testimonial__navigation button span.material-symbols-outlined {
	display: inline-block;
	background-color: #ffffffa2;
	padding: 8px;
	border-radius: 50%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
 }
 
 
 
@media screen and (max-width: 768px) {

}