body {
	background-color: #EBF3FA;
}

.shop__grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-gap: var(--gap-column);
	max-width: 1250px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 var(--gap-column);
}

.shop__preview-image {
	grid-column: 1 / span 4;
	grid-row: 3 / span 7;
	background-image: url('/_app/assets/base.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: var(--shop-box-style);
	border-radius: var(--shop-box-radius);
}

.shop__customise--box {
	grid-column: 6 / span 7;
	grid-row: 3 / span 7;
	padding: 2.3rem;
	background: linear-gradient(120deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
	word-wrap: break-word;
	box-shadow: var(--shop-box-style);
	border-radius: var(--shop-box-radius);
}

.shop__customise--color{
	font-size: 0.8;
	margin-top: 0.8em;
	box-shadow: none;
	border-radius: none;
}

.shop__customise--material{
	font-size: 0.8;
	margin-top: 0.8em;
	box-shadow: none;
	border-radius: none;
}

h2 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: normal;
}

h4 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: normal;
}

h3 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 2.5em;
}

button {
	width: 9em;
	height: 2.5em;
	cursor: crosshair;
}
button:hover {
	width: 9em;
	height: 2.5em;
	cursor: crosshair;
}

.base {
	background-color: #eeeeee;
	border: 1px solid rgb(216, 216, 216);
 }
 
.blue {
	background-color: #1bdcea;
}

.green {
	background-color: #24cc45;
}
.purple {
	background-color: #cda9ff;
}

.red {
	background-color: #ff9292;
}
.marble {
	background: url('/_app/assets//materials/marble.png');
	background-repeat: no-repeat;
	background-size: fill;
	border: solid 0.1px #000000;
}
.wood {
	background: url('/_app/assets//materials/wood.png');
	background-repeat: no-repeat;
	background-size: fill;
	border: solid 0.1px #000000;
}

.shop__price--box {
	grid-column: 1 / span 12;
	grid-row: 11 / span 1;
	background: linear-gradient(120deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
	padding: 1.5rem;
	box-shadow: var(--shop-box-style);
	border-radius: var(--shop-box-radius);
}

.shop__price--box--price {
	float: left;
}
.shop__price--box--button {
	background: none;
	float: right;
}
.shop__price--box--button:hover {
	text-decoration: underline;
}