body {
	background-color: #EBF3FA;
}

.shop__grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-gap: var(--gap-column);
	max-width: 1250px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 var(--gap-column);
}

.shop__preview-image {
	grid-column: 1 / span 4;
	grid-row: 3 / span 7;
	background-image: url('/_app/assets/base.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	filter: drop-shadow(-16px -16px 40px rgba(255, 255, 255, 0.8)) drop-shadow(16px 4px 64px rgba(18, 61, 101, 0.3));
	border-radius: 20px;
}

.shop__customise--box {
	grid-column: 6 / span 7;
	grid-row: 3 / span 7;
	background: linear-gradient(120deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
	box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
	border-radius: 20px;
}

.shop__price--box {
	grid-column: 1 / span 12;
	grid-row: 11 / span 1;
	background: linear-gradient(120deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
	box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
	border-radius: 20px;
}